<nav class = "navbar navbar-expand-sm bg-success navbar-dark">
    <ul class = "navbar-nav">
        <a class="navbar-brand" routerLink="home">
            <img src="https://sagarmathaapartment.com/img/aad8c96691e62fbe.png" alt="Logo" style="width:40px;border-radius: 10%;margin-left: 2px;">
          </a>
        <li class = "nav-item">
            <a routerLink="customers" routerLinkActive="active" class="nav-link">Customer List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-customer" class="nav-link">Create Customer</a>
        </li>
    </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class = "container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <span>ALL COPYRIGHTS RESERVED 2023 @MaharjanWorks</span>
</footer>