<div class = "container">
    <h3>Customer Details</h3>
    <div>
        <label for="customerId" style="margin-right:10px;">CUSTOMER ID : </label> <b>{{customer.customerId}}</b>
    </div>
        <label for="firstName" style="margin-right:10px;">FIRST NAME : </label><b>{{customer.firstName}}</b>
    <div>
        <label for="lastName" style="margin-right:10px;">LAST NAME : </label><b>{{customer.lastName}}</b>
    </div>
    <div>
        <label for="email" style="margin-right:10px;">EMAIL : </label><b>{{customer.email}}</b>
    </div>
</div>
