<h4>Customer List</h4>
<span>{{message}}</span>
<table class="table table-striped">
    <thead>
        <tr>
            <th>S.NO.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th colspan="3" style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let customer of customer_list, let idx = index">
            <td>{{idx+1}}</td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.email}}</td>
            <td>
                <button (click)="updateCustomer(customer.customerId)" class = "btn btn-info">UPDATE</button>
            </td>
            <td>
                <button (click)="deleteCustomeer(customer.customerId)" class = "btn btn-danger">DELETE</button>
            </td>
            <td>
                <button (click)="viewCustomer(customer.customerId)" class ="btn btn-secondary">VIEW</button>
            </td>
        </tr> 
    </tbody>
</table>
